
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontakt</h2>

<div>
    
    lorem30X20 sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf asf asdfefetr rtfdhvjgh jfty itykgjd
</div>


