
@{
    ViewBag.Title = "Opinie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Opinie</h2>

<div>
    sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf a  fsd fasd fas fsadf a fsd fasd fas fsadf a
    lorem30X20 sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf asf asdfefetr rtfdhvjgh jfty itykgjd
    sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf a  fsd fasd fas fsadf a fsd fasd fas fsadf a
    kjhkhgj  gfhgfhhfhg  ggggggggggggggggggggggggggghhhhhhhhhhhhhhhhhhhffffffffffffffffffffffffddddddddddddd
    lorem30X20 sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf asf asdfefetr rtfdhvjgh jfty itykgjd
</div>

