
@{
    ViewBag.Title = "Spolecznosc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spolecznosc</h2>

<div>
    sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf a  fsd fasd fas fsadf a fsd fasd fas fsadf a
    lorem30X20 sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf asf asdfefetr rtfdhvjgh jfty itykgjd
    sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf a  fsd fasd fas fsadf a fsd fasd fas fsadf a
    lorem30X20 sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf asf asdfefetr rtfdhvjgh jfty itykgjd
    sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf a  fsd fasd fas fsadf a fsd fasd fas fsadf a
    lorem30X20 sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf asf asdfefetr rtfdhvjgh jfty itykgjd
    ggggggggggggggggggggggggggggggggggggggggggg hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf a  fsd fasd fas fsadf a fsd fasd fas fsadf a
    lorem30X20 sdfasdf asdf asdf asdf asdf asdfasd fsd fasd fas fsadf asf asdfefetr rtfdhvjgh jfty itykgjd
</div>

